<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecture.messages.each do |message| %>
      <tr>
        <td><%= message.text %></td>
        <td><%= link_to 'Show', course_lecture_message_path(@course, @lecture, message) %></td>
        <td><%= link_to 'Edit', edit_course_lecture_message_path(@course, @lecture, message) %></td>
        <td><%= link_to 'Destroy', course_lecture_message_path(@course, @lecture, message), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_course_lecture_message_path(@course, @lecture) %>
