<%= simple_form_for(@lecture, url: course_lecture_path(@course, @lecture)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :day, :collection => ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>
    <%= f.input :time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
