<p id="notice"><%= notice %></p>

<h1>Listing All Lectures For <%= @course.name %></h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.day %></td>
        <td><%= lecture.time %></td>
        <td><%= link_to 'Show', course_lecture_path(lecture.course_id, lecture.id) %></td>
        <td><%= link_to 'Edit', edit_course_lecture_path(lecture.course_id, lecture.id) %></td>
        <td><%= link_to 'Destroy', course_lecture_path(lecture.course_id, lecture.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture', new_course_lecture_path(@course.id) %>
