<p id="notice"><%= notice %></p>
<h1><%= @course.name %></h1>
<h2>Test</h2>
<h2><%= "#{@lecture.day} at #{@lecture.time.to_s("%B %d, %Y")}" %></h2>

<hr/>
<h3>Chat Room</h3>
<div class="message-area">
<% @lecture.messages.each do |message| %>
	<% if message.user == current_user %>
		<div class="user-message">
	<% else %>
		<strong><%= message.user.name %></strong>
		<div class="other-user-message">
	<% end %>
  	<%= render message %>
  	</div>
<% end %>
</div>

<div>
  <%= simple_form_for(Message.new, url: course_lecture_messages_path(@course, @lecture)) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :text %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

</div>

<%= link_to 'Edit', edit_course_lecture_path(@course, @lecture) %> |
<%= link_to 'Back', course_lectures_path(@course) %>

<script>
$(document).ready(function () {
  // check that initial call is in a room
  if ($(".message-area").length > 0) {
    setTimeout(refreshMessages, 2000);
  }
});

// calls action refreshing the partial
function refreshMessages() {
  // check that subsequent calls are requested from a room.
  // Does nothing and stops otherwise.
  if ($(".message-area").length > 0) {
    $.ajax({
      url: "/courses/" + <%= @course.id %> + "/lectures/" + <%= @lecture.id %> + "/refresh_messages"
    })
    setTimeout(refreshMessages, 2000);
  }
}
</script>