<p id="notice"><%= notice %></p>
<h1><%= @course.name %></h1>
<h2>Test</h2>
<h2><%= "#{@lecture.day} at #{@lecture.time.to_s("%B %d, %Y")}" %></h2>

<hr/>
<h3>Chat Room</h3>
<div class="message-area">
<% @lecture.messages.each do |message| %>
	<% if message.user == current_user %>
		<div class="user-message">
	<% else %>
		<strong><%= message.user.name %></strong>
		<div class="other-user-message">
	<% end %>
  	<%= render message %>
  	</div>
<% end %>

<div>
  <%= simple_form_for(Message.new, url: course_lecture_messages_path(@course, @lecture)) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :text %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

</div>

<%= link_to 'Edit', edit_course_lecture_path(@course, @lecture) %> |
<%= link_to 'Back', course_lectures_path(@course) %>
