<p id="notice"><%= notice %></p>
<h1>Viewing Course: <%= @course.name %></h1>

<h3>Lecture Times</h3>
<ul>
  <% @course.lectures.each do |lecture| %>
    <li><%= link_to "#{lecture.day} at #{lecture.time}", course_lecture_path(@course.id, lecture.id) %></li>
  <% end %>
</ul>

<% if user_signed_in? and current_user.is_admin %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
